---
layout: archive
permalink: /mentoring/
excerpt: "Mentoring"
author_profile: true
---

{% include base_path %}
<h1>Mentoring</h1>
<ul>
  <li>
    <b><a href="https://www.linkedin.com/in/shiva-gadireddy" style="color:#64B2CB">Shiva Gadireddy</a></b><br>
    North Carolina State University, NC, USA, Summer 2023, Fall 2023, and Spring 2024<br>
    Rising Junior, Computer Science<br>
    <b>Project: </b>Systematic Literature Review on the Use of Large Language Models in Education and Teachers' Workshop on Integrating LLMs into Classroom <br>
    <img src="/images/mentoring/shiva.jpg" alt="Shiva Gadireddy" width="500" style="margin-top: 10px;margin-bottom: 20px;">
  </li>
  <li>
    <b><a href="https://www.linkedin.com/in/yadhira-marcos" style="color:#64B2CB">Yadhira Marcos-Avila</a></b><br>
    UNC Charlotte, NC, USA, Summer 2023<br>
    Rising Junior, Computer Science<br>
    <b>Project: </b>Systematic Literature Review on the Use of Large Language Models in Education and Teachers' Workshop on Integrating LLMs into Classroom <br>
  </li>
  <li>
    <b><a href="https://www.linkedin.com/in/samantha-gonzalez-568183209" style="color:#64B2CB">Samantha Gonzalez</a></b><br>
    Kean University, NJ, USA, Summer 2023<br>
    Rising Junior, Computer Science<br>
    <b>Project: </b>Systematic Literature Review on the Use of Large Language Models in Education and Teachers' Workshop on Integrating LLMs into Classroom<br>
  </li>
  <li>
    <b><a href="https://www.linkedin.com/in/rachel-qualls/" style="color:#64B2CB">Rachel Qualls</a></b><br>
    University of Alabama, Al, USA, Summer 2022<br>
    Rising Junior, Computer Science and Math<br>
    <b>Project: </b>Detectors for Identifying Novices' Struggle during Programming 
    [<a href="https://www.researchgate.net/profile/Benyamin-Tabarsi/publication/363052760" style="color:#64B2CB">paper</a>]<br>
    <img src="/images/mentoring/rachel.png" alt="Rachel Qualls" width="500" style="margin-top: 10px;margin-bottom: 20px;">
  </li>
  <li>
    <b><a href="https://www.linkedin.com/in/maggie-l-507104233/" style="color:#64B2CB">Maggie Lin</a></b>
    [Co-Mentored with <a href="https://www.linkedin.com/in/ally-limke-b29308223" style="color:#64B2CB">Ally Limke</a>]<br>
    NC State University, NC, USA, Summer 2022<br>
    Rising Sophomore, Computer Science<br>
    <b>Project: </b>Participatory Design on a Blocked-Based Programming Learning Management System (SnapClass)
  </li>
  <li>
    <b><a href="https://www.linkedin.com/in/sana-mahmoud/" style="color:#64B2CB">Sana Mahmoud</a></b>
    [Co-Mentored with <a href="https://www.linkedin.com/in/ally-limke-b29308223" style="color:#64B2CB">Ally Limke</a>]<br>
    NC State University, NC, USA, Summer 2022<br>
    Rising Junior, Computer Science<br>
    <b>Project: </b>Participatory Design on a Blocked-Based Programming Learning Management System (SnapClass)
  </li>
</ul>

<!--{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}-->

