---
layout: archive
title: "Mentoring"
permalink: /mentoring/
author_profile: true
---

{% include base_path %}

<ul>
  <li>
    <b><a href="https://www.linkedin.com/in/rachel-qualls/" style="color:#64B2CB">Rachel Qualls</a></b><br>
    University of Alabama, Al, USA, Summer 2022<br>
    Rising Junior, Computer Science and Math<br>
    <b>Project: </b>Detectors for Identifying Novices' Struggle during Programming 
    [<a href="https://www.researchgate.net/profile/Benyamin-Tabarsi/publication/363052760" style="color:#64B2CB">paper</a>]
    <img src="/images/mentoring/rachel.png" alt="Rachel Qualls" width="500""><br>
  </li>
</ul>

<!--{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}-->

